<h1>Contact us</h1><br class="clearfloat"><br>
Questions or comments? Feel free to <%= mail_to "admin@housr.ca", "email us at admin@housr.ca" %> or use the contact form below.<br class="clearfloat"><br>
<div class="leadform">
<%= render 'form' %>
</div>