<h1>Control Panel</h1>
          <p>From here, you can edit your profile, manage your listings as well as track your leads.</p>
<hr>
<div class="row">
  <div class="span5">
    <h2>Complete your profile</h2>
    <p>Make sure to fill your Realtor profile with as much information as possible to ensure you get the most from housr.ca as well as uploading a picture of yourself. Clients are around 80% more likely to respond to profiles with an image and a quality "About" posting than a generic page with just an email address and name.</p>
    <p><a class="btn success" href="<%= edit_user_path(current_user) %>">Edit your profile &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Listings</h2>
     <p>Add listings to your profile for potential clients as well as to manage them all from a central location. The best way to manage your business and keep track of the status of your listings as well as provide valuable statistics to help you make the informed decisions about the properties.</p>
    <p><a class="btn success" href="<%= new_listing_path %>">Add a listing &raquo;</a></p>
 </div>
  <div class="span5">
    <h2>Leads</h2>
    <p>Manage you leads to make sure you don't miss out on potential clients. Keep track of progress and increase your conversion rate by having a thorough history of what your clients need so that you're always one step ahead. Add useful notes to each client to help you be the perfect agent.</p>
    <p><a class="btn success" href="<%= new_lead_path %>">Add a client &raquo;</a></p>
  </div>
</div>