<h2>Edit Profile</h2>
<br>
<%= render 'form' %>
<p></p>
<br>
<br>
<br>
<hr>
<br>
<br>
<h2>Change Password</h2>
<p>Only complete this portion of the form if you want to change your password.</p><br>
<%= render 'passwords' %><br>
