<% provide(:title, 'about housr.ca') %>
<br class="clearfloat">
<br>
<p>Finding a Real Estate Agent doesn't have to boil down to choosing the first Realtor who contacts you or relying on flyers. You should be able to select your agent based on their location, expertise and feedback from other buyers, sellers or renters who have dealt with them before. The right agent makes a world of difference in what is a huge transaction and will make it a pleasant experience.</p>
<p>Best of all, this service is provided to you for absolutely no money at all. housr.ca is a free service that gets you introduced to the Realtor that will work with you to make your dream home a reality.Don't settle for the first Realtor at your door, pick the perfect agent for you using housr.ca</p><br>

<div id="features">


   <div class="featureList">
    
        <div class="feature">
            <a href="/buy" title="Find a Realtor to help me buy a house"><img src="/assets/content/triworks_abstract38.jpg" alt="Find a Realtor to help me buy a house" /></a>
            <h3>Home Buyers</h3>
            <p>If you need an agent to buy a home with get proposals from Realtors who buy homes in the area you are looking at and get the local knowledge you need.</p>
        </div>
        
        <div class="feature">
            <a href="/sell" title="Find a Real Estate Agent to sell my home"><img src="/assets/content/triworks_abstract4.jpg" alt="Find a Real Estate Agent to sell my home" /></a>
            <h3>Home Sellers</h3>
            <p>Sell your home with a Realtor who specializes in your area and knows the market in your neighbourhood for the best selling experience and a quick sale.</p>
        </div>
        
        <div class="feature">
            <a href="/rent" title="I need an agent to help me find a place to rent"><img src="/assets/content/triworks_abstract13.jpg" alt="I need an agent to help me find a place to rent" /></a>
            <h3>Home Renters</h3>
            <p>If you need to find a place to rent, a Realtor can help you find the perfect house or apartment in your budget and get you the best deal possible.</p>
        </div>
        
        <div class="feature">
            <a href="/agents" title="Go to the section for Realtors"><img src="/assets/content/triworks_abstract14.jpg" alt="Go to the section for Realtors" /></a>
            <h3>Realtors Area</h3>
            <p>Learn more about how <strong>housr</strong> can help get you in touch with clients local to you and who need your unique expertise.</p>
        </div>
        


        
    <br class="cleafloat" />
    </div><!-- /featureList -->

</div><!-- /#features -->

