<% provide(:title, 'realtors section') %>
<h1>housr.ca helps realtors build their business</h1><br class="clearfloat"><br>
<br>
<ul class="mainFeatures">

    <!-- main feature 1 -->
	<li>
    	<img src="/assets/content/mainFeature1.png" alt="feature icon" />
    	<h3>Your free profile</h3>
        <p>
        	Sign up to housr.ca for your free profile. Users can search for agents and browse your profile and listings.
        </p>
    </li>

    <!-- main feature 2 -->
	<li class="middleFeature">
    	<img src="/assets/content/mainFeature2.png" alt="feature icon" />
    	<h3>Manage your business</h3>
        <p>
        	housr.ca helps you keep track of your clients and listings in one location. Generate showing flyers automatically.
        </p>
    </li>

    <!-- main feature 3 -->
	<li>
    	<img src="/assets/content/mainFeature3.png" alt="feature icon" />
    	<h3>Get quality leads</h3>
        <p>
        	Get connected to qualified leads looking for an agent in your area. Our leads are qualified and most importantly, relevant.
        </p>
    </li>

</ul><!-- /mainFeatures -->
<div class="leftCol">
	<p>Free profiles</p>
</div>
<div class="rightCol">
<p>Realtors all over the Greater Toronto and Kingston Areas are discovering how they can grow their online presence and business using housr.ca<br>
	housr.ca provides a free profile for Realtors to help you stay connected.</p>
</div>