<% provide(:title, 'realtors section') %>
<h1>housr.ca helps realtors build their business</h1><br class="clearfloat">
<!--  ===============  -->
<!-- !pricing options  -->
<!--  ===============  -->
<div class="planWrapper">

    <ul class="plans">
    
    
        <!-- ======start plan====== -->
        <li class="plan">
            <div class="planTop">1</div>
            <div class="planMid">
                <p class="planTitle">free<strong class="cap">housr</strong></p>
                <p class="planPrice">$0</p>
                <ul class="planOptions">
                    <li class="yes">Personal Profile</li>
                    <li class="yes alt">Included in searches</li>
                    <li class="no">Can buy leads</li>                   
                    <li class="no alt">Listings Management</li>                   
                    <li class="no">Client Management</li>                   
                    <li class="no alt">Enhanced Profile Page</li>                   
                </ul>
            </div>
            <div class="planBot"><%= link_to "Register", new_user_registration_path(:account_type => "free") %></div>
        </li>
        <!-- ======end plan-====== -->
        
        
        
        
        <!-- ======start plan====== -->
        <li class="plan mostPopular">
            <div class="planTop">2</div>
            <div class="planMid">
                <p class="planTitle">monthly<strong class="cap">housr</strong></p>
                <p class="planPrice">$25</p>
                <ul class="planOptions">
                    <li class="yes">Personal Profile</li>
                    <li class="yes alt">Included in searches</li>
                    <li class="yes">Can buy leads</li>                   
                    <li class="yes alt">Listings Management</li>                   
                    <li class="yes">Client Management</li>                   
                    <li class="yes alt">Enhanced Profile Page</li>                   
                </ul>
            </div>
            <div class="planBot"><%= link_to "Register", new_user_registration_path(:account_type => "free") %></div>
        </li>
        <!-- ======end plan-====== -->
        
        
        
        
        <!-- ======start plan====== -->
        <li class="plan">
            <div class="planTop">3</div>
            <div class="planMid">
                <p class="planTitle">annual<strong class="cap">housr</strong></p>
                <p class="planPrice">$250</p>
                <ul class="planOptions">
                    <li class="yes">Personal Profile</li>
                    <li class="yes alt">Included in searches</li>
                    <li class="yes">Can buy leads</li>                   
                    <li class="yes alt">Listings Management</li>                   
                    <li class="yes">Client Management</li>                   
                    <li class="yes alt">Enhanced Profile Page</li>                   
                </ul>
            </div>
            <div class="planBot"><%= link_to "Register", new_user_registration_path(:account_type => "free") %></div>
        </li>
        <!-- ======end plan-====== -->
        
        
        
        
        <!-- ======start plan====== -->
        <li class="plan">
            <div class="planTop">4</div>
            <div class="planMid">
                <p class="planTitle">lifetime<strong class="cap">housr</strong></p>
                <p class="planPrice">$1000</p>
                <ul class="planOptions">
                    <li class="yes">Personal Profile</li>
                    <li class="yes alt">Included in searches</li>
                    <li class="yes">Can buy leads</li>                   
                    <li class="yes alt">Listings Management</li>                   
                    <li class="yes">Client Management</li>                   
                    <li class="yes alt">Enhanced Profile Page</li>                   
                </ul>
            </div>
            <div class="planBot"><%= link_to "Register", new_user_registration_path(:account_type => "free") %></div>
        </li>
        <!-- ======end plan-====== -->
        

        
    </ul>
    
    
<br class="clearfloat" />   
</div><!-- /planWrapper -->

<ul class="mainFeatures">

    <!-- main feature 1 -->
	<li>
    	<img src="/assets/content/mainFeature1.png" alt="feature icon" />
    	<h3>Your free profile</h3>
        <p>
        	Sign up to housr.ca for your free profile. Users can search for agents and browse your profile and listings.
        </p>
    </li>

    <!-- main feature 2 -->
	<li class="middleFeature">
    	<img src="/assets/content/mainFeature2.png" alt="feature icon" />
    	<h3>Manage your business</h3>
        <p>
        	housr.ca helps you keep track of your clients and listings in one location. Generate showing flyers automatically.
        </p>
    </li>

    <!-- main feature 3 -->
	<li>
    	<img src="/assets/content/mainFeature3.png" alt="feature icon" />
    	<h3>Get quality leads</h3>
        <p>
        	Get connected to qualified leads looking for an agent in your area. Our leads are qualified and most importantly, relevant.
        </p>
    </li>

</ul><!-- /mainFeatures -->

<div id="features">


   <div class="featureList">
    
        <div class="feature">
            <a href="/buy" title="Find a Realtor to help me buy a house"><img src="/assets/content/triworks_abstract38.jpg" alt="Find a Realtor to help me buy a house" /></a>
            <h3>Home Buyers</h3>
            <p>If you need an agent to buy a home with get proposals from Realtors who buy homes in the area you are looking at and get the local knowledge you need.</p>
        </div>
        
        <div class="feature">
            <a href="/sell" title="Find a Real Estate Agent to sell my home"><img src="/assets/content/triworks_abstract4.jpg" alt="Find a Real Estate Agent to sell my home" /></a>
            <h3>Home Sellers</h3>
            <p>Sell your home with a Realtor who specializes in your area and knows the market in your neighbourhood for the best selling experience and a quick sale.</p>
        </div>
        
        <div class="feature">
            <a href="/rent" title="I need an agent to help me find a place to rent"><img src="/assets/content/triworks_abstract13.jpg" alt="I need an agent to help me find a place to rent" /></a>
            <h3>Home Renters</h3>
            <p>If you need to find a place to rent, a Realtor can help you find the perfect house or apartment in your budget and get you the best deal possible.</p>
        </div>
        
        <div class="feature">
            <a href="/agents" title="Go to the section for Realtors"><img src="/assets/content/triworks_abstract14.jpg" alt="Go to the section for Realtors" /></a>
            <h3>Realtors Area</h3>
            <p>Learn more about how <strong>housr</strong> can help get you in touch with clients local to you and who need your unique expertise.</p>
        </div>
        


        
    <br class="cleafloat" />
    </div><!-- /featureList -->

</div><!-- /#features -->

<br class="clearfloat" />


<a href="find"><img src="/assets/content/bannerFull_width.png" alt="Find an Agent" /></a>


<br class="clearfloat" />