<% provide(:title, 'realtors section') %>
<h1>housr.ca helps agents build their business</h1><br class="clearfloat"><br>
<p>Realtors all over the Greater Toronto and Kingston Areas are discovering how they can grow their online presence and business using housr.ca<br>
	housr.ca provides a free profile for Realtors to help you stay connected.</p>
