<% provide(:title, 'contact us') %>
<h1>Contact us</h1><br class="clearfloat"><br>
<p>Have a question or comment? Feel free to send us an email at <%= mail_to "admin@housr.ca", "admin@housr.ca" %></p>
