<h1>Are you looking to sell, buy, rent, or search for a specific Realtor?</h1>
<br class="clearfloat">
<br>
<div id="features">


   <div class="featureList">
    
        <div class="feature">
            <a href="/buy" title="Find a Realtor to help me buy a house"><img src="/assets/content/triworks_abstract38.jpg" alt="Find a Realtor to help me buy a house" /></a>
            <h3>Home Buyers</h3>
            <p>If you need an agent to buy a home with get proposals from Realtors who buy homes in the area you are looking at and get the local knowledge you need.</p>
        </div>
        
        <div class="feature">
            <a href="/sell" title="Find a Real Estate Agent to sell my home"><img src="/assets/content/triworks_abstract4.jpg" alt="Find a Real Estate Agent to sell my home" /></a>
            <h3>Home Sellers</h3>
            <p>Sell your home with a Realtor who specializes in your area and knows the market in your neighbourhood for the best selling experience and a quick sale.</p>
        </div>
        
        <div class="feature">
            <a href="/rent" title="I need an agent to help me find a place to rent"><img src="/assets/content/triworks_abstract13.jpg" alt="I need an agent to help me find a place to rent" /></a>
            <h3>Home Renters</h3>
            <p>If you need to find a place to rent, a Realtor can help you find the perfect house or apartment in your budget and get you the best deal possible.</p>
        </div>
        
        <div class="feature">
            <a href="/agents" title="Go to the section for Realtors"><img src="/assets/content/triworks_abstract14.jpg" alt="Go to the section for Realtors" /></a>
            <h3>Realtors Area</h3>
            <p>Learn more about how <strong>housr</strong> can help get you in touch with clients local to you and who need your unique expertise.</p>
        </div>
        


        
    <br class="cleafloat" />
    </div><!-- /featureList -->

</div><!-- /#features -->
