<div class="leftCol">
	<h1>Message sent!</h1><br class="clearfloat">
	<br>
	<br>
	<h1>Thanks for the email, we'll respond to it ASAP.</h1><br class="clearfloat">
	<br>
	<br>
	<br>
	<%= link_to "Click here to go back to the main page.", "/" %>
</div>
<div class="rightCol">
	<img src="/assets/content/mail.png">
</div>