<div class="leftCol">
	<h1>And they're off!</h1><br class="clearfloat">
	<br>
	<br>
	<h1>Keep an eye on your email for proposals from five local realtors.</h1><br class="clearfloat">
	<br>
	<br>
	<br>
	<%= link_to "Click here to go back to the main page.", "/" %>
</div>
<div class="rightCol">
	<img src="/assets/content/submitted.png">
</div>