<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Message from, <%= @message.your_name %></h1>
    <p>
      Subject: <%= @message.subject %>.<br/>
    </p>
<hr>
    <p>
      Message: <%= @message.body %>
    </p>
  </body>
</html>