<% provide(:title, 'find a realtor to buy a home with') %>
<h1>Find a Realtor</h1>
<br class="clearfloat">
<p>This form is for <strong>buyers</strong> <%= link_to "Are you a seller?", new_seller_path %></p>
<br>
<br>
<%= render 'form' %>