<h1>Find a Realtor</h1>
<h4>This form is for <strong>buyers</strong></h4>
<p><%= link_to "Are you a seller?", new_seller_path %></p>
<br>
<br>
<%= render 'form' %>

<%= link_to 'Back', buyers_path %>
